{% extends 'main/base.html' %}


{% block content %}
<h1>{% block text %}{% endblock %}</h1>
<bin class="page-content">
    <ul>
        {% block gen-content %}{% endblock %}
    </ul>
</bin>
{% endblock %}

{% block styles %}
h1 {
    font-weight: 400;
    font-family: "Bad Script";
    font-size: 75px;
    color: white;
    text-align: center;
}

h2 {
    font-weight: 100;
    font-family: "Bad Script";
    font-size: 25px;
    color: #111111;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    display: inline-block;
    width: 49.5%;
    margin-right: 0;
    text-align: center;
}

.page-content {
    margin-left: 25%;
    width: 50%;
    height: 50%;
    background: gray;
    opacity: 0.7;
    display: inline-block;
}

.generate-button {
    margin-left: 37.5%;
    width: 130px;
    height: 130px;
    background-color: #326960;
    border-radius: 65px;
    border-color: white;
    font-family: "Bad Script";
    font-size: 300%;
    color: white;
}


.generate-button:active {
    background-color: #3d7d44;
    font-family: "Bad Script";
    font-size: 300%;
    color: white;
}
{% endblock %}