{% extends 'main/base.html' %}


{% block title %}
Главная страница
{% endblock %}


{% block content %}
<h1>Генераторы</h1>
<bin class="page-content">
    <ul>
        <li>
            <h2 class="gen-name">Что поесть?</h2>
            <input type="button" value="В генератор" onclick="window.location.href='{% url 'eat' %}';"></input>
        </li>
        <li>
            <h2 class="gen-name">Что нарисовать?</h2>
            <input type="button" value="В генератор" onclick="window.location.href='{% url 'draw' %}';"></input>
        </li>
        <li>
            <h2 class="gen-name">Что бы сделать?</h2>
            <input type="button" value="В генератор" onclick="window.location.href='{% url 'doing' %}';"></input>
        </li>
        <li>
            <h2 class="gen-name">Что посмотреть?</h2>
            <input type="button" value="В генератор" onclick="window.location.href='{% url 'watch' %}';"></input>
        </li>
        <li>
            <h2 class="gen-name">Во что поиграть?</h2>
            <input type="button" value="В генератор" onclick="window.location.href='{% url 'play' %}';"></input>
        </li>
        <li>
            <h2 class="gen-name">Что послушать?</h2>
            <input type="button" value="В генератор" onclick="window.location.href='{% url 'listen' %}';"></input>
        </li>
    </ul>
</bin>
{% endblock %}

{% block styles %}
h1 {
    font-weight: 400;
    font-family: "Bad Script";
    font-size: 75px;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    display: inline-block;
    width: 49.5%;
    margin-right: 0;
    text-align: center;
}

input {
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: center;
        border-color: transparent;
        border-radius: 15px;
        width: 35%;
        height: 10%;
        outline: none;
        background-color: #326960;
        color: white;
        cursor: pointer;
    }

input:active {
    background-color: black;
}

.page-content {
    margin-left: 25%;
    width: 50%;
    height: 50%;
    background: gray;
    opacity: 0.7;
    display: inline-block;
}
{% endblock %}