{% extends 'main/base.html' %}


{% block title %}
Другие генераторы
{% endblock %}

{% block content %}
<h1>Другие генераторы</h1>
<bin class="page-content">
    <ul>
        <h1>Ну вот сюда надо совать генераторы, надеюсь разберешься</h1>
    </ul>
</bin>
{% endblock %}

{% block styles %}
h1 {
    font-weight: 400;
    font-family: "Bad Script";
    font-size: 75px;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    display: inline-block;
    width: 49.5%;
    margin-right: 0;
    text-align: center;
}

.page-content {
    margin-left: 25%;
    width: 50%;
    height: 50%;
    background: gray;
    opacity: 0.7;
    display: inline-block;
}
{% endblock %}