{% extends 'main/base.html' %}


{% block title %}
Мои генераторы
{% endblock %}

{% block content %}
<h1>Мои генераторы</h1>
<bin class="page-content">
    <ul>
        {% if request.user.is_authenticated %}
            {% if message %}
                <h1>У вас ещё нет созданных генераторов! </h1>
                <a class="tasks" href="{% url 'create' %}"><h1 class="link">Создать генератор</h1></a>
            {% endif %}
            {% for el in generators %}
                {% if request.user == el.author %}
                    <li>
                        <h2 class="gen-name">{{ el.title }}</h2>
                        <input type="button" value="В генератор" onclick="window.location.href='{% url 'news-detail' el.id %}';"><br>
                        <input type="button" value="Удалить" onclick="window.location.href='{% url 'news-delete' el.id %}';">
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            <h1>Чтобы просмотреть свои генераторы, необходимо авторизоваться</h1>
            <a class="tasks" href="{% url 'login' %}"><h1 class="link">Войти</h1></a>
        {% endif %}
    </ul>
</bin>
{% endblock %}

{% block styles %}
h1 {
    font-weight: 400;
    font-family: "Bad Script";
    font-size: 75px;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    display: inline-block;
    width: 49.5%;
    margin-right: 0;
    text-align: center;
}

input {
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: center;
        border-color: transparent;
        border-radius: 15px;
        width: 35%;
        height: 10%;
        outline: none;
        background-color: #326960;
        color: white;
        cursor: pointer;
    }

input:active {
    background-color: black;
}

.page-content {
    margin-left: 25%;
    width: 50%;
    height: 50%;
    background: gray;
    opacity: 0.7;
    display: inline-block;
}
{% endblock %}